.env
.env.backup
.env.production
composer.lock
package-lock.json
yarn.lock
*.zip

/bootstrap/cache/*
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/logs/*

/node_modules
/public/build
/public/hot
/public/storage

/storage/app/livewire-tmp/*

.idea/
.vscode/
.DS_Store
Thumbs.db